body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #1f2937;
    padding: 30px 100px;
    flex-grow: 1;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    color: #f9faf8
}

.header-logo {
    font-size: 24px;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #e5e7eb;
    font-size: 18px;;
}

ul,
a {
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb

}

ul {
    display: flex;
    gap: 12px;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 28px;
    font-weight: 700;
    border: transparent;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 16px;
}

button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

img {
    max-height: 400px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Below is the second section */

.second-section {
    text-align: center;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px;
    flex-wrap: wrap;
}

.box {
    gap: 8px;
    max-width: 300px;
    flex: 1;
}

.box img {
    width: 300px;
}

/*Below is the third section*/

.third-section {
    background-color: #e5e7eb;
    padding: 100px 200px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 50%;
    padding: 8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.name {
    font-weight: 600;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 5%;
}

/* Fourth section styling below */

.fourth-section {
    padding: 100px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 40px 75px;
    flex-wrap: wrap;
    flex: 1;
    gap: 2em;
}

.action-text {
    font-weight: 700;
    font-size: 28px;
    color: white;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;;
}

.action-container-right button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 8px 28px;
    font-weight: 700;
    font-size: 20px;
    transition-duration: 0.4s;
}

.action-container-right button:hover {
    background-color: white;
    color: #3882f6
}



